@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0px;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px;

  background-color: rgb(0, 50, 96);
  color: white;

  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10vw;

  background-color: rgb(0, 132, 255);
  box-shadow: 0px 0px 20px rgb(0, 132, 255),
              inset 0px 0px 10px rgba(0, 50, 96);
  border-radius: 50px;
  border: solid 2px orange;
}

h1 {
  font-size: clamp(4vw, 4vw, 48px);
  width: 100%;
}

.inputs {
  display: inline-block;
}

input[type="text"] {
  background-color: rgb(0, 50, 96);
  color: white;

  border: solid 3px orange;
  border-radius: 50px 0px 0px 50px;
  font-size: clamp(2vw, 2vw, 32px);
  margin: 0px;
  padding: 5px;

  outline: none;
}

button {
  padding: 5px;
  border: solid 3px orange;
  border-radius: 0px 50px 50px 0px;
  font-size: clamp(2vw, 2vw, 32px);
  margin: 0px;
  background-color: orange;
  color: white;
}

h3 {
  font-size: clamp(2vw, 2vw, 32px);
  width: 100%;
}
